/* Reset Styles ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End ----------------------------------------------- */

/* General Styles ----------------------------------------------- */
body{
    background: #FFF url(img/bg.jpg) repeat-x;
    font: 75%/140% Arial, Helvetica, Sans;
    margin: 0 auto;
    width: 600px;
}
h1{font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
}
h1 span{color: #FF0000}
/* End ----------------------------------------------- */

/* Reset Styles ----------------------------------------------- */
header{
    background: url(img/cover.jpg) no-repeat;
    height: 780px;
    width: 600px;
}
#content{
    width: 550px;
    padding: 40px 0;
    margin: 0 auto;
}

iframe {padding-top: 30px}
/* End ----------------------------------------------- */

/* Footer ----------------------------------------------- */
footer{
    font-size: 1.05em;
    height: 95px;
    padding: 30px 0;
    color: #7f7f7f;
}
footer a {
    color: #7f7f7f;
    text-decoration: none;
}
footer a:hover { color: #666 }
#download {
    float: right;
    text-align: right;
    width: 250px;
}
#download a {
    line-height: 100%;
    font-size: 1.7em;
    background: #FF0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#CE0100));
    background: -moz-linear-gradient(top,  #FF0000,  #CE0100);
    border-top: 1px solid #FD8678;
    border-bottom: 1px solid #D10200;
    color: #FFF;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    box-shadow: 0px 2px 2px #760000;
    -moz-box-shadow: 0px 2px 2px #760000;
    -webkit-box-shadow: 0px 2px 2px #760000;
    text-align: center;
    text-transform: uppercase;
}
#download a:hover {
    background: #CE0100;
    background: -webkit-gradient(linear, left top, left bottom, from(#F50000), to(#C70202));
    background: -moz-linear-gradient(top,  #F50000,  #C70202); 
}
#download p {
    padding-top: 10px;
}
#cc {
    width: 250px;
    float: left;
}
